In [1]:
#Importing libraries and modules:

import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import tensorflow as tf
import keras

from sklearn.preprocessing import LabelEncoder

from sklearn import datasets

import itertools

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score

import sklearn
%matplotlib inline

import tensorflow.compat.v1 as tf
#tf.Session()

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Check the TF version
#print(tf.__version__)   #2.10.0

In [3]:
df = pd.read_csv('/Users/lana-n/datacsv/Boston.csv')
df

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
df.shape

(506, 15)

In [5]:
df.isnull().sum()

Unnamed: 0    0
crim          0
zn            0
indus         0
chas          0
nox           0
rm            0
age           0
dis           0
rad           0
tax           0
ptratio       0
black         0
lstat         0
medv          0
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.columns

Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [8]:
COLUMNS = df.columns[1:]

COLUMNS

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [9]:
COLUMNS.shape

(14,)

In [10]:
FEATURES = ["crim", "zn", "indus", "nox", "rm","age", "dis", "tax", "ptratio"]

In [11]:
#x = df.drop('medv', axis=1, inplace=True)
#x = df.drop('medv', axis=1)

x = df[["crim", "zn", "indus", "nox", "rm","age", "dis", "tax", "ptratio", "medv"]]
x

        crim    zn  indus    nox     rm   age     dis  tax  ptratio  medv
0    0.00632  18.0   2.31  0.538  6.575  65.2  4.0900  296     15.3  24.0
1    0.02731   0.0   7.07  0.469  6.421  78.9  4.9671  242     17.8  21.6
2    0.02729   0.0   7.07  0.469  7.185  61.1  4.9671  242     17.8  34.7
3    0.03237   0.0   2.18  0.458  6.998  45.8  6.0622  222     18.7  33.4
4    0.06905   0.0   2.18  0.458  7.147  54.2  6.0622  222     18.7  36.2
..       ...   ...    ...    ...    ...   ...     ...  ...      ...   ...
501  0.06263   0.0  11.93  0.573  6.593  69.1  2.4786  273     21.0  22.4
502  0.04527   0.0  11.93  0.573  6.120  76.7  2.2875  273     21.0  20.6
503  0.06076   0.0  11.93  0.573  6.976  91.0  2.1675  273     21.0  23.9
504  0.10959   0.0  11.93  0.573  6.794  89.3  2.3889  273     21.0  22.0
505  0.04741   0.0  11.93  0.573  6.030  80.8  2.5050  273     21.0  11.9

[506 rows x 10 columns]

In [12]:
y = df['medv']

In [13]:
# splitting the training & test sets
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2)

x_train.shape ,x_test.shape, y_train.shape ,y_test.shape

((404, 10), (102, 10), (404,), (102,))

In [14]:
#y_train

#y_train

In [15]:
#FEATURES = df["crim", "zn", "indus", "nox", "rm","age", "dis", "tax", "ptratio"]
#LABEL = df["medv"]

In [16]:
FEATURES = ["crim", "zn", "indus", "nox", "rm","age", "dis", "tax", "ptratio"]
LABEL = "medv"

In [17]:
feature_cols = [tf.feature_column.numeric_column(k) for k in FEATURES]

In [18]:
estimator = tf.estimator.LinearRegressor(feature_columns=feature_cols,model_dir="x_train")

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': 'x_train', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [19]:
def get_input_fn(df, num_epochs=None, n_batch = 128, shuffle=True):    
         return tf.estimator.inputs.pandas_input_fn(       
         x=pd.DataFrame({k: df[k].values for k in FEATURES}),       
         y = pd.Series(df[LABEL].values),       
         batch_size=n_batch,          
         num_epochs=num_epochs,       
         shuffle=shuffle)

In [20]:
estimator.train(input_fn=get_input_fn(x_train, num_epochs=None, n_batch = 128, shuffle=False), steps=1000)

WARNING:tensorflow:From /Users/lana-n/opt/anaconda3/lib/python3.8/site-packages/tensorflow/python/training/training_util.py:396: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From /Users/lana-n/opt/anaconda3/lib/python3.8/site-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_queue_runner.py:60: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /Users/lana-n/opt/anaconda3/lib/python3.8/site-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_functions.py:491: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From /Users/lana-n/opt/anaconda3/lib/python3.8/site-packages/tensorflow/python/training/monitored_session.py:914: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into x_train/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 81540.91, step = 0
INFO:tensorflow:global_step/sec: 552.654
INFO:tensorflow:loss = 8778.44, step = 100 (0.182 sec)
INFO:tensorflow:global_step/sec: 779.264
INFO:tensorflow:loss = 9554.862, step = 200 (0.128 sec)
INFO:tensorflow:global_step/sec: 780.658
INFO:tensorflow:loss = 9882.225, step = 300 (0.128 sec)
INFO:tensorflow:global_step/sec: 729.586
INFO:tensorflow:loss = 8749.869, step = 400 (0.137 sec)
INFO:tensorflow:global_step/sec: 738.514
INFO:tensorflow:loss = 8220.868, step = 500 (0.135 sec)
INFO:tensorflow:global_step/sec: 770.326
INFO:tensorflow:loss = 8735.17, step = 600 (0.130 sec)
INFO:tensorflow:global_step/sec: 726.123
INFO:tensorflow:loss = 8119.9277, step = 700 (0.138 sec)
INFO:tensorflow:global_step/sec: 794.558
INFO:tensorflow:loss = 7371.885, step = 800 (0.126 sec)
INFO:tensorflow:global_step/sec: 774.726
INFO:tensorflow:loss = 7892.7163, step = 900 (0.129 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 1000...
INFO:tensorflow:Saving checkpoints for 1000 into x_train/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 1000...
INFO:tensorflow:Loss for final step: 6640.5684.

In [22]:
ev = estimator.evaluate(    
          input_fn=get_input_fn(x_test,                          
          num_epochs=1,                          
          n_batch = 128,                          
          shuffle=False))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2022-11-01T17:12:03
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from x_train/model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Inference Time : 0.28030s
INFO:tensorflow:Finished evaluation at 2022-11-01-17:12:04
INFO:tensorflow:Saving dict for global step 1000: average_loss = 43.501984, global_step = 1000, label/mean = 22.190195, loss = 4437.202, prediction/mean = 22.202906
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1000: x_train/model.ckpt-1000

In [23]:
loss_score = ev["loss"]
print("Loss: {0:f}".format(loss_score))

Loss: 4437.202148

In [24]:
x_train['medv'].describe()

count    404.000000
mean      22.619307
std        9.355211
min        5.000000
25%       16.950000
50%       21.200000
75%       25.000000
max       50.000000
Name: medv, dtype: float64

In [31]:
y = estimator.predict(input_fn=get_input_fn(x_train,num_epochs=1, n_batch = 128, shuffle=False))

In [32]:
predictions = list(p["predictions"] for p in itertools.islice(y, 6))
print("Predictions: {}".format(str(predictions)))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from x_train/model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
Predictions: [array([16.692814], dtype=float32), array([18.127115], dtype=float32), array([32.323387], dtype=float32), array([29.615171], dtype=float32), array([22.682917], dtype=float32), array([18.97581], dtype=float32)]