In [ ]:
#https://www.kaggle.com/code/sercanyesiloz/therapy-chatbot-nlp

'''
The task:

The dataset contains 80 user responses, in the response_text column, to a therapy chatbot.
Bot said: 'Describe a time when you have acted as a resource for someone else'. User responded. 
If a response is 'not flagged', the user can continue talking to the bot. 
If it is 'flagged', the user is referred to help. We are going to predict 
if it is flagged or not according to users responses.



'''

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords") 
from nltk.stem.wordnet import WordNetLemmatizer


from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

from wordcloud import WordCloud, STOPWORDS

import os

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/lana-n/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [4]:
df1 = pd.read_csv('/Users/lana-n/datacsv/Sheet_1.csv')

In [5]:
df1

,response_id,class,response_text,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,response_1,not_flagged,I try and avoid this sort of conflict,NaN,NaN,NaN,NaN,NaN
1,response_2,flagged,Had a friend open up to me about his mental ad...,NaN,NaN,NaN,NaN,NaN
2,response_3,flagged,I saved a girl from suicide once. She was goin...,NaN,NaN,NaN,NaN,NaN
3,response_4,not_flagged,i cant think of one really...i think i may hav...,NaN,NaN,NaN,NaN,NaN
4,response_5,not_flagged,Only really one friend who doesn't fit into th...,,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
75,response_76,not_flagged,"Now that I've been through it, although i'm no...",NaN,NaN,NaN,NaN,NaN
76,response_77,flagged,when my best friends mom past away from od'ing...,NaN,NaN,NaN,NaN,NaN
77,response_78,not_flagged,As a camp counselor I provide stability in kid...,NaN,NaN,NaN,NaN,NaN
78,response_79,flagged,My now girlfriend used to have serious addicti...,NaN,NaN,NaN,NaN,NaN
79,response_80,not_flagged,The one person I ever talked to it was because...,NaN,NaN,NaN,NaN,NaN

In [8]:
data = pd.read_csv(r"/Users/lana-n/datacsv/Sheet_1.csv",encoding= "latin1" )
data.drop(["Unnamed: 3","Unnamed: 4","Unnamed: 5",
           "Unnamed: 6","Unnamed: 7",], axis = 1, inplace =True)
data = pd.concat([data["class"],data["response_text"]], axis = 1)

data.dropna(axis=0, inplace =True)
data.head(10)

         class                                      response_text
0  not_flagged              I try and avoid this sort of conflict
1      flagged  Had a friend open up to me about his mental ad...
2      flagged  I saved a girl from suicide once. She was goin...
3  not_flagged  i cant think of one really...i think i may hav...
4  not_flagged  Only really one friend who doesn't fit into th...
5  not_flagged  a couple of years ago my friends was going to ...
6      flagged  Roommate when he was going through death and l...
7      flagged  i've had a couple of friends (you could say mo...
8  not_flagged  Listened to someone talk about relationship tr...
9      flagged  I will always listen. I comforted my sister wh...

In [12]:
data.shape

(80, 2)

In [9]:
# 0 to Not Flagged and 1 to Flagged

data["class"] = [1 if each == "flagged" else 0 for each in data["class"]]
data.head()

   class                                      response_text
0      0              I try and avoid this sort of conflict
1      1  Had a friend open up to me about his mental ad...
2      1  I saved a girl from suicide once. She was goin...
3      0  i cant think of one really...i think i may hav...
4      0  Only really one friend who doesn't fit into th...

In [10]:
data.response_text[16]

'I have helped advise friends who have faced circumstances similar to mine'

In [16]:
data.response_text[10]

'Took a week off work, packed up the car and picked up a friend who was on the verge of losing it and went camping/surfing for a week. His parents were a big part of the problem and being away from them and others and physical activity every day for a week. but more just being around helped i feel.'

In [17]:
#reg expression:

first_text = data.response_text[16]
text = re.sub("[^a-zA-Z]"," ",first_text)
text = text.lower() 
print(text)

i have helped advise friends who have faced circumstances similar to mine

In [18]:
#irrelevant words (stop words):

text = nltk.word_tokenize(text)
text = [ word for word in text if not word in set(stopwords.words("english"))]
print(text)

['helped', 'advise', 'friends', 'faced', 'circumstances', 'similar', 'mine']

In [19]:
#lemmatization:
lemmatizer = WordNetLemmatizer()
text = [(lemmatizer.lemmatize(lemmatizer.lemmatize(lemmatizer.lemmatize(word, "n"),pos = "v"),pos="a")) for word in text]
print(text)

['help', 'advise', 'friend', 'face', 'circumstance', 'similar', 'mine']

In [20]:
# all words:

description_list = []
for description in data.response_text:
       
    description = re.sub("[^a-zA-Z]"," ",description)
    description = description.lower() 
    
    description = nltk.word_tokenize(description)
    description = [ word for word in description if not word in set(stopwords.words("english"))]
    
    lemmatizer = WordNetLemmatizer()
    description = (lemmatizer.lemmatize(lemmatizer.lemmatize(lemmatizer.lemmatize(word, "n"),pos = "v"),pos="a") for word in description)
    
    description = " ".join(description)
    description_list.append(description)

In [21]:
description_list[16]

'help advise friend face circumstance similar mine'

In [22]:
#bad of words:

max_features = 100
count_vectorizer = CountVectorizer(max_features=max_features)
sparce_matrix = count_vectorizer.fit_transform(description_list).toarray()
print("Top {} Most Used Words: {}".format(max_features,count_vectorizer.get_feature_names()))

Top 100 Most Used Words: ['addiction', 'advice', 'alone', 'always', 'anxiety', 'anything', 'back', 'best', 'bring', 'call', 'care', 'come', 'comfort', 'could', 'deal', 'depression', 'describe', 'dont', 'end', 'even', 'everything', 'experience', 'face', 'feel', 'find', 'friend', 'get', 'gf', 'girl', 'girlfriend', 'give', 'go', 'good', 'grade', 'happen', 'help', 'helpful', 'issue', 'kid', 'kill', 'know', 'last', 'let', 'life', 'like', 'listen', 'little', 'look', 'lot', 'make', 'many', 'may', 'much', 'need', 'never', 'night', 'offer', 'often', 'one', 'open', 'others', 'people', 'person', 'personal', 'pretty', 'problem', 'really', 'relationship', 'say', 'school', 'see', 'self', 'severe', 'share', 'shit', 'similar', 'simply', 'situation', 'someone', 'sometimes', 'start', 'struggle', 'stuff', 'suicide', 'support', 'talk', 'tell', 'think', 'though', 'time', 'trouble', 'try', 'use', 'want', 'way', 'week', 'well', 'work', 'would', 'year']

In [25]:
top100=count_vectorizer.get_feature_names()
#top100

In [30]:
#naive bayes:

y = data.iloc[:,0].values
x = sparce_matrix

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

In [32]:
#fit the model:
nb = GaussianNB()
nb.fit(x_train,y_train)
y_pred = nb.predict(x_test)
print("Accuracy: {}".format(round(nb.score(y_pred.reshape(-1,1),y_test),2)))

Accuracy: 0.75